.hero-item {
    cursor: pointer;
    padding: 8px;
}

.hero-item:hover {
    background-color: #f9eaea;
}

.heroes button.selected {
    background-color: rgb(182, 11, 11);
    color: white;
} 

.heroes button.selected:hover {
    background-color: #505050;
    color: white;
}

.heroes button.selected:active {
    background-color: black;
    color: white;
}